*.dll
*.pdb
obj/**
bin/**
runtimes/**
/.vs/VSWorkspaceState.json
/.vs/tasks.vs.json
/.vs/slnx.sqlite
/.vs/shinnavi/v15/.suo
/.vs/shinnavi/v15
/.vs/config/applicationhost.config
/.vs/config
/.vs/BasicBot/v15/Server/sqlite3/storage.ide-wal
/.vs/BasicBot/v15/Server/sqlite3/storage.ide-shm
/.vs/BasicBot/v15/Server/sqlite3/storage.ide
/.vs/BasicBot/v15/Server/sqlite3/db.lock
/.vs/BasicBot/v15/Server/sqlite3
/.vs/BasicBot/v15/.suo
/.vs/BasicBot/v15
/BasicBot.cs.rej
